@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelify-sans-custom {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* Menggunakan berat 600 */
    font-style: normal;
}

@media (min-width: 768px) {
    .md\:w-55 {
        width: 55%;
    }
}

.brick-pattern {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
      #d35400, /* Warna dasar bata oranye */
      #c0392b, /* Warna bata lebih gelap */
      #2c3e50  /* Warna gelap menuju bawah */
    );
}
